@model ExamSystem.Core.Entities.ReadingPassage

@{
    ViewData["Title"] = "Chi tiết Bài đọc";
}

<div class="container mt-4">
    <div class="card border-info shadow-sm">
        <div class="card-header bg-info text-white">
            <h4 class="m-0"><i class="fa fa-eye"></i> Chi tiết Bài đọc #@Model.Id</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2 fw-bold">Tiêu đề:</dt>
                <dd class="col-sm-10 fs-5 text-primary">@Html.DisplayFor(model => model.Title)</dd>

                <dt class="col-sm-2 fw-bold">Nội dung:</dt>
                <dd class="col-sm-10">
                    <div class="p-3 bg-light rounded border" style="white-space: pre-wrap;">
                        @Html.DisplayFor(model => model.Content)
                    </div>
                </dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Quay lại</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fa fa-pencil"></i> Sửa Bài đọc</a>
        </div>
    </div>
</div>